In [32]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in /Users/jackmckew/miniconda3/envs/obscure/lib/python3.11/site-packages (2.0.12)
Collecting psycopg2
  Using cached psycopg2-2.9.6-cp311-cp311-macosx_11_0_arm64.whl
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/jackmckew/miniconda3/envs/obscure/lib/python3.11/site-packages (from sqlalchemy) (4.5.0)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [1]:
import os
import pickle
import pandas as pd
folder_path = "./animals/"

def read_pickle(pickle_filename):
    if os.path.exists(pickle_filename):
            with open(pickle_filename, "rb") as f:
                return pickle.load(f)

In [2]:
df = pd.DataFrame(columns=['Classification','Collection','Name','Measurement','Minimum','Maximum','Unit'])
current_row = 0
for f in os.listdir(folder_path):
    name, ext = os.path.splitext(f)
    if ext == '.pickle':
        pickle_filename = f"{folder_path}{f}"
        [classification,collection] = pickle_filename.replace('.pickle','').split('/')[1:]
        print(classification,collection)
        data = read_pickle(pickle_filename)
        for x in data:
            name = list(x.keys())[0]
            df.loc[current_row,'Classification'] = classification
            df.loc[current_row,'Collection'] = collection
            df.loc[current_row,'Name'] = name.split('/')[-1]
            df.loc[current_row,'Details'] = ' '.join(x[name]['details'])
            current_row += 1
df

animals treeshrews-scandentia
animals herpestids-herpestoidea
animals elephants-elephantidae
animals saltwater-fish
animals sea-cows-sirenia
animals caecilians-apoda
animals lizards
animals caprids-caprinae
animals cephalopods-cephalopoda
animals gastropods-gastropoda
animals armadillos-cingulata
animals myriapods-myriapoda
animals lagomorpha-lagomorphs
animals baleen-whales-mysticeti
animals monotremes-monotremata
animals rodents-rodentia
animals crustaceans-crustacea
animals hyraxes-hyracoidea
animals horses-horse-breeds
animals lemuriforms-lemuriformes
animals penguins-spheniscidae
animals tapirs-tapiridae
animals frogs-anura
animals gamefowl-galliformes
animals jellyfish-medusozoa
animals rays-batoidea
animals procyonids-procyonidae
animals true-dogs-canini
animals eulipotyphla
animals equines-equidae
animals dogs-dog-breeds
animals arachnids-arachnida
animals african-insectivores-afroinsectiphilia
animals turtles-testudines
animals seals-pinnipedia
animals marsupials-marsupialia
animals insects-insecta
animals camelids-camelidae
animals sharks-selachii
animals antelopes-antilopinae
animals rhinos-rhinocerotidae
animals sponges-porifera
animals deer-cervidae
animals corals-anthozoa
animals dinosaurs-dinosauria
animals bats-chiroptera
animals waterfowl-anseriformes
animals toothed-whales-odontoceti
animals mustelids-mustelidae
animals crocodilians-crocodilia
animals cattle-bovine-bovinae
animals worms
animals old-world-monkeys
animals vulpines-vulpini
animals new-world-monkeys
animals snakes-serpentes
animals bears-ursidae
animals viverrids-viverridae
animals hippos-hippopotamidae
animals shorebirds-charadriiformes
animals eels-anguilliformes
animals birds-of-prey-raptors
animals cats-cat-breeds
animals freshwater-fish
animals apes-hominoidea
animals seabirds-marine-birds
animals big-cats
animals pigs-suidae
animals anteaters-vermilingua
animals salamanders-salamandridae
animals giraffoids-giraffoidea
animals songbirds-passeri
animals sloths-folivora

,Classification,Collection,Name,Measurement,Minimum,Maximum,Unit,Details
0,animals,treeshrews-scandentia,pen-tailed-treeshrew-ptilocercus-lowii,NaN,NaN,NaN,NaN,Details *Under Development* Height:2.4”-2.75” ...
1,animals,treeshrews-scandentia,mountain-treeshrew-tupaia-montana,NaN,NaN,NaN,NaN,Details *Under Development* Height:2.75”-4.1” ...
2,animals,treeshrews-scandentia,northern-smooth-tailed-treeshrew-dendrogale-mu...,NaN,NaN,NaN,NaN,Details *Under Development* Height:2.2”-2.6” |...
3,animals,treeshrews-scandentia,ruddy-treeshrew-tupaia-splendidula,NaN,NaN,NaN,NaN,Details *Under Development* Height:2.75”-3.5” ...
4,animals,treeshrews-scandentia,common-treeshrew-tupaia-glis,NaN,NaN,NaN,NaN,Details *Under Development* Height:2.6”-3.5” |...
...,...,...,...,...,...,...,...,...
1213,animals,sloths-folivora,maned-three-toed-sloth-bradypus-torquatus,NaN,NaN,NaN,NaN,Details *Under Development* Height:6.7”-10.2” ...
1214,animals,sloths-folivora,hoffmanns-two-toed-sloth-choloepus-hoffmanni,NaN,NaN,NaN,NaN,Details *Under Development* Height:6.3”-8.7” |...
1215,animals,sloths-folivora,pale-throated-three-toed-sloth-bradypus-tridac...,NaN,NaN,NaN,NaN,Details *Under Development* Height:6.3”-9.8” |...
1216,animals,sloths-folivora,pygmy-three-toed-sloth-bradypus-pygmaeus,NaN,NaN,NaN,NaN,Details *Under Development* Height:4.7”-5.5” |...
1217,animals,sloths-folivora,brown-throated-three-toed-sloth-bradypus-varie...,NaN,NaN,NaN,NaN,Details *Under Development* Height:5.9”-12.2” ...

In [3]:
import re

def extract_metrics(string,pattern):
    string = string.replace('–','-')
    string = string.replace('—','-')
    if(f"{pattern}: " in string or f"{pattern} " in string or "~" in string or f"{pattern}:-" in string):
        return None
    string = string.replace('~','')
    if pattern == 'Weight':
        regex = rf'{pattern}:(\.?[0-9]\d*((\.|\,)?\d+)?)-(\.?[0-9]\d*((\.|\,)?\d+)?) ([a-z].*)?\s?\| (\.?[0-9]\d*((\.|\,)?\d+)?)-([\.?0-9]\d*((\.|\,)?\d+)?) ([a-z\s]*) '
        match = re.search(regex,string)
        return [pattern,match.group(8),match.group(11),match.group(14)]
    else:
        regex = rf'{pattern}:(\.?[0-9]\d*((\.|\,|\')?\d+)?)(\”|\’)?-(\.?[0-9]\d*((\.|\,|\’)?\d+)?)(\”|\’)? \| (\.?[0-9]\d*((\.|\,)?\d+)?)-(\.?[0-9]\d*((\.|\,)?\d+)?) ([a-z].?) '
        match = re.search(regex,string)
        return [pattern,match.group(9),match.group(12),match.group(15)]

In [21]:
metrics_to_extract = ['Height','Weight','Length']
new_df = pd.DataFrame()
current_row = -1
for index, row in df.iterrows():
    for metric in metrics_to_extract:
        current_row += 1
        try:
            metrics = extract_metrics(row['Details'],metric)
            if(metrics):
                new_df.loc[current_row,'Classification'] = row['Classification']
                new_df.loc[current_row,'Collection'] = row['Collection']
                new_df.loc[current_row,'Name'] = row['Name']
                new_df.loc[current_row,'Measurement'] = metric
                new_df.loc[current_row,'Minimum'] = metrics[1]
                new_df.loc[current_row,'Maximum'] = metrics[2]
                new_df.loc[current_row,'Unit'] = metrics[3]
        except:
            continue
            # print(row['Name'],metric,row['Details'])

new_df = new_df.reset_index().drop('index',axis=1)
new_df

,Classification,Collection,Name,Measurement,Minimum,Maximum,Unit
0,animals,treeshrews-scandentia,pen-tailed-treeshrew-ptilocercus-lowii,Height,6,7,cm
1,animals,treeshrews-scandentia,pen-tailed-treeshrew-ptilocercus-lowii,Weight,16,19,cm
2,animals,treeshrews-scandentia,mountain-treeshrew-tupaia-montana,Height,7,10.5,cm
3,animals,treeshrews-scandentia,mountain-treeshrew-tupaia-montana,Weight,13,19,cm
4,animals,treeshrews-scandentia,northern-smooth-tailed-treeshrew-dendrogale-mu...,Height,5.5,6.5,cm
...,...,...,...,...,...,...,...
2706,animals,sloths-folivora,pale-throated-three-toed-sloth-bradypus-tridac...,Weight,2,11,cm
2707,animals,sloths-folivora,pygmy-three-toed-sloth-bradypus-pygmaeus,Height,12,14,cm
2708,animals,sloths-folivora,pygmy-three-toed-sloth-bradypus-pygmaeus,Weight,4,6,cm
2709,animals,sloths-folivora,brown-throated-three-toed-sloth-bradypus-varie...,Height,15,31,cm
2710,animals,sloths-folivora,brown-throated-three-toed-sloth-bradypus-varie...,Weight,2.5,9,cm

In [22]:
new_df.loc[new_df['Unit'] == 'm;','Unit'] = 'm'
new_df.Minimum = new_df.Minimum.apply(lambda x : x.replace(',',''))
new_df.Maximum = new_df.Maximum.apply(lambda x : x.replace(',',''))

In [28]:
def convert_SI(val, unit_in, unit_out):
    SI = {
        "mm": 0.001,
        "cm": 0.01,
        "m": 1.0,
        "g": 1.0,
        "kg": 1000.0,
        "metric tons": 1000000.0,
    }
    return (float(val) * SI[unit_in]) / SI[unit_out]


new_df["Minimum Base"] = new_df.apply(
    lambda x: convert_SI(x["Minimum"], x["Unit"], "m" if "m" in x["Unit"] else "g"),
    axis=1,
)
new_df["Maximum Base"] = new_df.apply(
    lambda x: convert_SI(x["Maximum"], x["Unit"], "m" if "m" in x["Unit"] else "g"),
    axis=1,
)
new_df["Unit Base"] = new_df.apply(lambda x: "m" if "m" in x["Unit"] else "g", axis=1)

Unit Base
m    2135
g     576
Name: count, dtype: int64

In [38]:
new_df.columns = new_df.columns.str.lower().str.replace(' ','_')

docker run --name some-postgis -e POSTGRES_PASSWORD=root -d -p 5432:5432 postgis/postgis

In [41]:
new_df[new_df['measurement'] == 'Height'].to_sql('heights','postgresql://postgres:root@localhost',if_exists='replace')

875

In [42]:
heights =  new_df[new_df['measurement'] == 'Height']

In [132]:
import math
import pandas as pd


def find_combinations_greedy(target_number, df):
    # Sort the dataframe by maximum base in descending order
    # sorted_df = df.sort_values(by="maximum_base", ascending=False)

    # Iterate over the sorted dataframe and add components to the solution
    solution = []
    combination_sum = 0
    best_solution = (0, 9999)
    for _, row in df.sample(frac=1).iterrows():
        if row["maximum_base"] + combination_sum <= target_number:
            solution.append(row["name"])
            combination_sum += row["maximum_base"]
            if (combination_sum - target_number) < best_solution[1]:
                best_solution = (solution, combination_sum)
            if math.isclose(combination_sum,target_number):
                return (solution, combination_sum)
            for j in range(2, int(target_number/row["maximum_base"])+1):
                if row["maximum_base"] * j + combination_sum <= target_number:
                    for k in range(j):
                        solution.append(row["name"])
                    combination_sum += row["maximum_base"] * j
                    if (combination_sum - target_number) < best_solution[1]:
                        best_solution = (solution.copy(), combination_sum)
                    if math.isclose(combination_sum,target_number):
                        return (solution, combination_sum)
                    else:
                        while solution and combination_sum > target_number:
                            last = solution.pop()
                            combination_sum -= row["maximum_base"]
                            if (combination_sum - target_number) < best_solution[1]:
                                best_solution = (solution.copy(), combination_sum)
                        if math.isclose(combination_sum,target_number):
                            return (solution, combination_sum)
                    if not solution:
                        break

    return best_solution


x =find_combinations_greedy(10, heights)
print(len(x[0]))
print(x[1])
heights[heights['name'].isin(x[0])].sum()

568
10.0

classification           animalsanimalsanimalsanimalsanimalsanimals
collection        arachnids-arachnidainsects-insectacorals-antho...
name              camel-spider-galeodes-arabshercules-beetle-dyn...
measurement                    HeightHeightHeightHeightHeightHeight
minimum                                               11121332.51.8
maximum                                               17361666.42.3
unit                                                   mmmmcmcmcmcm
minimum_base                                                  0.226
maximum_base                                                   0.36
unit_base                                                    mmmmmm
dtype: object